<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head  >
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title >Home</title>
    <link rel="stylesheet" href="/static/css/home.css">
    <link rel="stylesheet" href="/static/css/navbar.css">
</head>
<body>
<div th:include="fragment::navbar"> </div>

<div class="profile-container">
    <div class="profile-header">
        <h1 id="user-name" th:text="${user.name()}" ></h1>
        <p id="user-email" th:text="${user.email()}"></p>
        <button id="edit-button">Edit Profile</button>
    </div>
    <div class="profile-details">
        <h2>Profile Information</h2>
        <ul>
            <li><strong>Username:</strong> <span id="user-username" th:text = "${user.username()}"></span></li>
            <li><strong>Age:</strong> <span id="user-age" th:text="|Yoshi ${user.age()}|"></span></li>
        </ul>
    </div>
</div>
</body>
</html>
