<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org" xmlns:ht="http://www.thymeleaf.org">
<head >

</head>
<body>

<div th:fragment="navbar">
    <nav class="navbar">
        <div class="navbar-container">
            <a href="#" class="navbar-brand">MyApp</a>
            <button class="navbar-toggle" id="navbar-toggle">
                <span class="navbar-toggle-icon"></span>
            </button>
            <ul class="navbar-menu" id="navbar-menu">
                <li class="navbar-item"><a href="/login" class="navbar-link">Login</a></li>
                <li class="navbar-item"><a href="/signup" class="navbar-link">Signup</a></li>
                <li class="navbar-item"><a href="profile.html" class="navbar-link">Profile</a></li>
                <li class="navbar-item"><a href="/about" class="navbar-link">About</a></li>
                <li class="navbar-item"><a href="contact.html" class="navbar-link">Contact</a></li>
            </ul>
        </div>
    </nav>
</div>

</body>
</html>